
/*##################################### PARAGRAPH CARDS ###################################################### */

.bg-grey {
    background-color: #eee;
}

.card-cvc
{
    z-index: 1;
    position: relative;
    width: 250px; 
    height: 350px;
    margin:15px 0;
    background-color: white;

}

.banner
{
    z-index: 2;
    position: relative;
    width:100%;
    margin-top: -45%;
    height:130px;
    background-image: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/RQ2Z75PQIN.jpg");
    background-size: cover;
    border-bottom: solid 1px lightgrey;
}

.photo
{
    margin: 10px auto;
    background: #fff;
    width: 100px;
    height: 100px;
    top:20%;
}

.card-cvc-ul
{
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-top:5% !important; /*30px;*/
    margin-bottom:15px !important;
}

.contact
{
    text-align: center;
    width: 100%;
    height: 2px;
    display: block;    
    border:none;
    background-color: transparent;
    background-color: #C7D0E1;

}

.social-media-banner
{
    margin: auto;
    text-align: center;
}


.cont
{
    list-style: none;
    text-align: center;
    line-height: 2;
    color: #9E9E9E;
    text-decoration: none;
}

.social-media-banner i
{
    display: inline-block;
    margin-right: 8px;
    text-align: left;
    color: #C7D0E1;
}

.photo img
{
    border-radius: 50%;
    position: absolute;
    margin: 10px auto;
    z-index: 3;
}

/* Shadow */
.course-wrapper, 
.blog-wrap {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	   -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		 -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	-webkit-transition:all 250ms ease-in-out 0s;
	   -moz-transition:all 250ms ease-in-out 0s;
	    -ms-transition:all 250ms ease-in-out 0s;
	     -o-transition:all 250ms ease-in-out 0s;
		    transition:all 250ms ease-in-out 0s;
}

.course-wrapper:hover,
.blog-wrap:hover {
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		 -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
			box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-webkit-transition:all 250ms ease-in-out 0s;
	   -moz-transition:all 250ms ease-in-out 0s;
	    -ms-transition:all 250ms ease-in-out 0s;
	     -o-transition:all 250ms ease-in-out 0s;
		    transition:all 250ms ease-in-out 0s;

}


/*==================== 
	Course 
====================== */
/* Course Grid */
.course-meta ul {
    list-style: none outside none;
}
.course-banner-wrap {
    position: relative;
}
.course-detail-wrap{
	background: #fff;
}
.course-banner-wrap .cat {
    color: #fff;
    font-weight: 600;
    right: 10px;
    padding: 5px 6px; 
	font-size: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
	cursor: pointer;
}
.course-wrapper .teacher-wrap {
    padding: 10px 0 10px 125px;
	margin-bottom: 35px;
    position: relative;
}
.course-wrapper .teacher-wrap img {
	background: #fff;
    border: 2px solid #fff;
    left: 15px;
    padding: 2px;
	height: 100px;
	width: 100px;
    position: absolute;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
		-ms-border-radius: 50%;
	     -o-border-radius: 50%;
			border-radius: 50%; 
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
			transform: translateY(-50%); 
}
.course-wrapper .teacher-wrap h5{
	margin: 0;
}
.course-wrapper small{
	font-style: italic;
}
.course-content {
    padding: 0 20px 25px;
}
.course-content .btn {
	margin-top: 8px;
}
/* Course Small Coumns */
.course-sm-col .course-wrapper .teacher-wrap{
	padding-left: 100px;
}
.course-sm-col .course-wrapper .teacher-wrap img {
    border-width: 2px;
    height: 70px;
    width: 70px;
}
.course-sm-col .course-content h5{
	font-size: 20px;
}
/* Course list */
.course-list .course-wrapper{
	margin-bottom: 0;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;
}
.course-list .course-detail-wrap{
	background: transparent;
}
.course-list .course-banner-wrap > h6 {
    left: 10px;
    right: auto;
}
.course-list .course-content{
	padding: 0;
}
/* Course Single */
.course-meta h5.cat{
	display: inline-block;
}
.course-single .rating{
	float: right;
}
.course-meta-icons li {
    float: left;
	margin-top: 9px;
	min-width: 50%;
}
.course-meta-icons h5{
	margin-top: 10px;
}
.course-meta-icons svg{
	margin-right: 8px;
}
.course-single .course-detail .btn{
	margin-top: 10px;
}
.course-full-detail{
	margin-top: 30px;
}
.course-full-detail h4{
	margin: 28px 0;
}

/*==================== 
	Blog 
====================== */
/* Blog Grid */
.blog-img-wrap{
	position: relative;
}
.post-type {
    background: none repeat scroll 0 0 #2196f3;
    border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;
    bottom: -35px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 18px;
    text-align: center;
    width: 40px;
	opacity: 1;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	   -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		-ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		 -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/*.blog-wrap:hover .post-type{
	opacity: 1;
	right: 18px;
}*/
.blog-details {
    background-color: #fff;
    padding: 16px 24px 30px;
}
ul.blog-meta{
	margin: 15px 0;
}
.blog-meta li {
    display: inline-block;
    margin-right: 15px;
	position: relative;
	font-size: 13px;
}
.blog-meta li i {
    background: #eee none repeat scroll 0 0;
    border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;
    color: #757575;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    text-align: center;
    width: 35px;
}
.blog-details p{
	margin-bottom: 20px;
}
/* Blog List */
.blog-list-wrap .blog-wrap {
	box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;
}
.blog-list-wrap .blog-details {
	padding: 0;
	background: transparent;
}
.blog-list-wrap .post-type {
	left: 25px;
    right: auto;
    top: -20px;
}
.blog-list-wrap .blog-wrap:hover .post-type {
    left: 25px;
}
.blog-list-wrap .blog-meta li i {
    background: #fff none repeat scroll 0 0;
}
/* Blog Large */
.blog-large-wrap .share {
    float: right;
    margin-top: 7px;
}
.blog-large-wrap ul.blog-meta {
    margin: 30px 0 20px;
}
/* Blog Single */
.blog-single h4{
	margin: 30px 0;
}
.share {
    margin-top: 30px;
}
.share h5, .share .social-icons {
    display: inline-block;
}
.share h5{
	margin-right: 20px;	
}
.share .social-icons {
    line-height: 34px;
}
.blog-single .blog-meta li i {
    background: #fff none repeat scroll 0 0;
}

/*==================== 
	Filters
====================== */
/* Block Filters */

.filters {
    margin-bottom: 20px;
}

.filters .nav-pills span {
    margin-right: 20px;
}

.filters .nav-pills span a.is-active,
.filters .nav-pills span a:hover,
.filters .nav-pills span a:focus {
    color: #fff;
    background-color: #2196f3;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
} 

.filters .nav-pills span a {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    color: #606060;
    min-width: 100px;
    padding: 10px 15px;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    transition: all 250ms ease-in-out 0s;
}

/*==================== 
	Link Cards
====================== */
/* Block card links */

.btn-app {
    min-width: 150px;
    min-height: 80px;
    font-size: 14px;
    margin: 0 0 30px 30px;

}
.btn-app a {
    text-decoration: none;
    color: #606060;
}

.bg-info h3 a {
    color: #fff !important;

}
.widget-user {
    max-width: 80%;
  }
  .description-block > .description-text {
    font-size: .8rem;
}
.table {
    font-size: 14px;
    background-color: #fff;
}

/*=================================Menu======================*/

.sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p span{
    width: 0;
  }
  .sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p span {
    margin-left: -10px;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: hidden;
  }
  .sidebar-mini-md.sidebar-collapse .nav-sidebar .nav-link p span {
    width: 0;
  }
  .sidebar-mini-md.sidebar-collapse .nav-sidebar .nav-link p span {
    margin-left: -10px;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: hidden;
  }
  .sidebar-mini-md.sidebar-collapse .main-sidebar:hover .nav-sidebar .nav-link p span,
  .sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .nav-sidebar .nav-link p span {
    display: inline-block;
    margin-left: 0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: visible;
  }
  .sidebar-collapse .sidebar-no-expand.main-sidebar.sidebar-focused .nav-sidebar .nav-link p span,
.sidebar-collapse .sidebar-no-expand.main-sidebar:hover .nav-sidebar .nav-link p span {
  margin-left: -10px;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
  width: 0;
}
  .sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-sidebar .nav-link p span,
  .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .nav-sidebar .nav-link p span {
    display: inline-block;
    margin-left: 0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: visible;
  }
  .svg-inline--fa {
      font-size: 1.1rem;
      margin-left: 0.05rem;
      margin-right: 0.2rem;
      text-align: center;
      width: 1.6rem;
  }

.nav-header {
font-size: .9rem;
padding: 0.5rem;
text-transform: uppercase;
}
.nav-header:not(:first-of-type) {
padding: 1.7rem 1rem .5rem;
}
.sidebar-collapse .nav-sidebar .nav-header {
    display: none;
}
@media (min-width: 992px) {
.nav-header {
    white-space: nowrap;
    overflow: hidden;
}
}

/*===================Search Form============*/
.input-group .form-item {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}
.sidebar-collapse .form-inline.input-group {
    display: none;
}
.form-search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-actions .input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.cover {
    padding: 20px;
    border: 2px solid #2196f3
}
.cover-logo img {
    display: block;
    margin: auto;
    border: 2px solid #2196f3;
    max-width: 100%;
}
.client-name h2 {
    font-size: 2.5rem;
    margin:60px;
    text-align: center;
}
.cover-title h4 {
    font-size: 2.0rem;
    text-align: center;
    margin: 60px;
}
.client-logo img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.form-style-10{
	max-width:900px;
	padding:30px;
	margin:40px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.form-style-10 h1{
	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
.form-style-10 textarea{
    max-height: 90px;
}

.form-style-10 .section{
	font: normal 16px 'Bitter', serif;
	color: #2A88AD;
	margin-bottom: 5px;
}
.form-style-10 .section span {
	background: #2A88AD;
    width: 40px;
    height: 40px;
	padding: 8px;
    text-align: center;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}

.notify-drop .drop-content li {
    white-space: nowrap;
}
