/* class applies to select element itself, not a wrapper element */
.select-cv {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
      for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
      
    */
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), */
      /* linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); */
    /* background-repeat: no-repeat, repeat; */
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    /* background-position: right .7em top 50%, 0 0; */
    /* icon size, then gradient */
    /* background-size: .65em auto, 100%; */
  }
  
  /* Hide arrow icon in IE browsers */
  .select-cv::-ms-expand {
    display: none;
  }
  /* Hover style */
  .select-cv:hover {
    border-color: #888;
  }
  /* Focus style */
  .select-cv:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  
  /* Set options to normal weight */
  .select-cv option {
    font-weight:normal;
  }
  
  /* Support for rtl text, explicit support for Arabic and Hebrew */
  *[dir="rtl"] .select-cv, :root:lang(ar) .select-cv, :root:lang(iw) .select-cv {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
  }
  
  /* Disabled styles */
  .select-cv:disabled, .select-cv[aria-disabled=true] {
    color: #9c9c9c;
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), */
      /* linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); */
  }
  
  .select-cv:disabled:hover, .select-cv[aria-disabled=true] {
    border-color: #aaa;
  }

  .isotope-filters .nav-pills li a {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
       -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
       -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -webkit-transition:all 250ms ease-in-out 0s;
       -moz-transition:all 250ms ease-in-out 0s;
        -ms-transition:all 250ms ease-in-out 0s;
         -o-transition:all 250ms ease-in-out 0s;
          transition:all 250ms ease-in-out 0s;
  }
  
  .isotope-filters {
    margin-bottom:60px;
  }
  
  /* Filter */
  .isotope-filters .nav-pills li{
    margin-right: 20px;
    float: left;
    position: relative;
    display: block;
  }
  .isotope-filters .nav-pills li:last-child{
    margin-right: 0;
  }
  .isotope-filters .nav-pills li a {
      background: #fff none repeat scroll 0 0;
      border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px;
      color: #606060;
      min-width: 100px;
      padding: 12px 20px;
      text-align: center;
      display: inline-block;
  }
  .isotope-filters .nav-pills.dark li a {
      background: #606060 none repeat scroll 0 0;
      color: #fff;
  }
  .isotope-filters .nav-pills li a.active, .isotope-filters .nav-pills li a:hover, .isotope-filters .nav-pills li a:focus{
    color: #fff;
    background-color:#2196f3;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
       -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
  /* Filter Center */
  .isotope-filters.text-center .nav-pills > li, .isotope-filters.text-right .nav-pills > li{
    display: inline-block;
    float: none;
  }
  
.nav-sidebar .menu-open > .nav-link svg.right,
.nav-sidebar .menu-is-opening > .nav-link svg.right {
  transform: rotate(-90deg);
}