
{% include theme_path ~ "/templates/header.html.twig" %}
<!-- end Header -->
<div class="cleared"></div>

<!-- end Header -->
<div class="cleared"></div>
<!-- BEGIN CONTENT -->
<div role="main" class="main">
    {% if page.slider and header_style != 'header_style6'%}
        {{ page.slider }}
    {% endif %}

    {% if page.section %}
        {{ page.section }}
    {% endif %}


    {% if page.content %}
        {{ page.content }}
    {% endif %}   

</div>
{% include theme_path ~ "/templates/footer.html.twig" %}               

