<div class="form-style-10">
  <h1>Evironmental Compliance<span>Environmental and Management Systems compliance!</span></h1>
  <form{{ attributes }}>
    {{ title_prefix }}
    {{ children }}
    {{ title_suffix }}
  </form>
  </div>
