<div class="form-style-10">
  <h1>Resource Costs<span>Water and Electricity Costs</span></h1>
  <form{{ attributes }}>
    {{ title_prefix }}
    {{ children }}
    {{ title_suffix }}
  </form>
  </div>
