<div class="form-style-10">
  <h1>Social Evaluation<span>Client Social Responsibility compliance!</span></h1>
  <form{{ attributes }}>
    {{ title_prefix }}
    {{ children }}
    {{ title_suffix }}
  </form>
  </div>
