{% if rows %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel" 
                     data-animatein="" 
                     data-animateout="" 
                     data-items="1" 
                     data-loop="true" 
                     data-merge="true" 
                     data-nav="true" 
                     data-dots="false" 
                     data-margin="" 
                     data-stagepadding="" 
                     data-mobile="2" 
                     data-tablet="3" 
                     data-desktopsmall="4"  
                     data-desktop="5" 
                     data-autoplay="false" 
                     data-delay="3000" 
                     data-navigation="true">
                    {{ rows }}
                </div><!-- carousel -->
            </div><!-- Column -->
        </div><!-- Row -->
    </div><!-- Container -->
{% endif %}